#update-pet-page {
  margin: 0 auto;

  width: 100%;
  max-width: 1160px;

  h1 {
    margin: 16px 0;

    font-size: 18px;
    text-transform: uppercase;
  }

  @media (max-width: 1200px) {
    & {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
